.container {
  display: grid;
  grid-template: repeat(2, 350px) / repeat(2, 4fr);
  grid-gap: 3px;
}

.snowman {
  background-color: #c4ebff;
  position: relative;
}

.snowflake1 {
  background-color: whitesmoke;
}

.snowflake2 {
  background-color: whitesmoke;
}

.xmas-tree {
  background-color: #c4ebff;
}

.face {
  background-color: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: relative;
  top: 40px;
  left: 150px;
}

.eye-l, .eye-r {
  background-color: black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: relative;
}

.eye-l {
  top: 35px;
  left: 30px;
}

.eye-r {
  top: 25px;
  left: 60px;
}

.nose {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 25px solid #f7880f;
  position: relative;
  top: 36px;
  left: 44px;
}

.hat {

}
.body {
  background-color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: relative;
  top: 40px;
  left: 128px;
}
